.search-group {
  margin: 100px 0px 0px 60px;
}

.search-heading {
  font-family: 'La Belle Aurore';
  font-size: 50px;
}

.search-arrow {
  position: relative;
  top: -20px;
  left: -10px;
  font-family: 'Homemade Apple';
  font-size: 80px;
  display: inline;
}

.search-box {
  position: relative;
  top: -30px;
  display: inline;
  background: none;
  border: none;
  font-family: 'La Belle Aurore';
  color: red;
  opacity: .4;
  font-size: 50px;
  width: 90%;
  height: 100px;
  line-height: 100px;
}

.search-result {
  position: absolute;
  width: 800px;
  bottom: 0px;
  background-color: white;
/*  background: url(/construction-paper-600x400.jpg);*/
  border: 1px solid gray;
  box-shadow: -5px -5px 8px gray;
  line-height: 75px;
  font-size: 36px;
  font-family: 'Belgrano';
  color: black;
  text-align: center;

/*  -webkit-animation-duration: .2s;
     -moz-animation-duration: .2s;
      -MS-animation-duration: .2s;
       -o-animation-duration: .2s;
          animation-duration: .2s;*/
}

.search-results {
  width: 800px;
  height: 390px;
  margin-top: 30px;
  padding: 0px 50px;
  position: relative;
  overflow: scroll;
}

.section-result {
  position: relative;
  width: 100%;
  font-size: 30px;
  font-family: 'Belgrano';
  color: black;
  line-height: 50px;
  color: black;
}

.search-box::-webkit-input-placeholder {
    color: red;
}
.search-box:-moz-placeholder {
    /* FF 4-18 */
    color: red;
}
.search-box::-moz-placeholder {
    /* FF 19+ */
    color: red;
}
.search-box:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
}

.search-box:focus {
  outline: none !important;
}

@media (max-height: 700px) and (min-width: 1001px) {
  .search-group {
    margin: 0px 60px;
  }
}

@media (max-width: 1000px) {
  .search-group {
    margin: 55px 0px 0px 35px;
  }
  .search-heading {
    font-size: 40px;
  }
  .search-arrow {
    top: -20px;
    left: -10px;
    font-size: 60px;
  }
  .search-box {
    top: -30px;
    font-size: 40px;
    height: 80px;
    line-height: 80px;
  }
  .search-result {
    width: 600px;
    line-height: 75px;
    font-size: 36px;
  }
  .search-results {
    width: 600px;
    height: 390px;
    margin-top: 30px;
    padding: 0px 50px;
  }
  .section-result {
    width: 100%;
    font-size: 30px;
    line-height: 50px;
  }
}