html {
  background-color: #111;
}

.sheet {
  font-family: 'La Belle Aurore', cursive;
/*  bottom: 0px;
  overflow: hidden;*/
  padding: 0px 0px 0px 0px;
  width: 100%;
  position: absolute;
}

#main {
/*  height: 100%;*/
}

.header {
  background-color: #444;
/*  max-height: 62px;*/
}

.navbar-header {
  width: 100%;
}

.navbar {
/*  margin-bottom: 0px;*/
}

a.navbar-brand {
/*  color: #E3DE4B !important;*/
  color: white !important;
}

.navbar-brand {
  position: absolute;
  margin: 20px;
  font-family: 'Homemade Apple';
  font-size: 50px;
}

.navbar-right {
  float: right !important;
}

.login {
  font-family: 'La Belle Aurore';
  font-size: 35px;
  margin-top: 20px;
}

#login-dropdown-list > a {
  color: white;
}

.open > a {
    background-color: transparent !important;
}

.login-button, #login-buttons-logout {
  font-size: 24px;
}

