html {

}

.sheet {
  background-image: url(/blackboard.jpg);
  background-size: auto 100%;
/*  background-color: rgba(0, 0, 0, 1);*/
  font-family: 'La Belle Aurore', cursive;
/*  bottom: 0px;
  overflow: hidden;*/
  padding: 0px 0px 0px 0px;
  width: 100%;
  position: absolute;
  height: 100%;
  bottom: 0px;
  overflow: hidden;
}

#main {
  height: 100%;
}

.header {
  background-color: rgba(150, 150, 150, 0.3);
/*  max-height: 62px;*/
}

.navbar-header {
  width: 100%;
}

.navbar {
/*  margin-bottom: 0px;*/
}

a.navbar-brand {
/*  color: #E3DE4B !important;*/
  color: white !important;
}

.navbar-brand {
  position: absolute;
  margin: 20px;
  font-family: 'Homemade Apple';
  font-size: 50px;
}

.navbar-right {
  float: right !important;
}

.login {
  font-family: 'La Belle Aurore';
  font-size: 35px;
  margin-top: 20px;
}

#login-dropdown-list > a {
  color: white;
}

.open > a {
    background-color: transparent !important;
}

.login-button, #login-buttons-logout {
  font-size: 24px;
  border: 1px solid white;
  padding: 7px;
}

/*Facebook button*/
#login-dropdown-list > div > li:nth-child(1) > a > button {
  background-color: #3b5998;
}

/*Google button*/
#login-dropdown-list > div > li:nth-child(2) > a > button {
  color: #ffffff;
  background-color: #db4437;
}

/*Logout button*/
#login-buttons-logout {
  background-image: url(/blackboard.jpg);
}