html {
  background: url(/notebook-paper.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 1280px 1077px;
  background-position: 0px -50px;
}

.sheet {
  font-family: 'La Belle Aurore', cursive;
  background: none;
  border: none;
  position: absolute; left: 115px; top: 0px;
  padding-top: 45px;
  bottom: 0px;
  overflow: hidden;
}

#main {
  height: 100%;
}

.header {
  background: none;
  border: none;
}

.navbar-brand {
  font-family: 'Homemade Apple';
  padding-left: 45px;
  font-size: 50px;
}

.login {
  font-family: 'La Belle Aurore';
  font-size: 35px;
  margin-top: 10px;
}

.login-button {
  font-size: 25px;
}
