.section-page {
  max-height: 100%;
  font-size: 20px;
  font-family: 'Belgrano';
  background: url(/construction-paper-600x400.jpg);
  border: 1px solid gray;
  box-shadow: -5px -5px 8px gray;
  padding: 45px;
  overflow: scroll;
}

#next-link, #previous-link {
  border: none;
  background: none;
  color: black;
  font-size: 24px;
}


