html {
  background: url(/notebook-paper.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 1280px 1077px;
  background-position: 0px -50px;
}

.sheet {
  font-family: 'La Belle Aurore', cursive;
  background: none;
  border: none;
  position: absolute; left: 115px; top: 45px;
  height: 90%;
}

.header {
  background: none;
  border: none;
}

.navbar-brand {
  font-family: 'Homemade Apple';
  padding-left: 45px;
  font-size: 50px;
}

.login {
  font-family: 'La Belle Aurore';
  font-size: 35px;
  margin-top: 10px;
}

.login-button {
  font-size: 25px;
}

.search-group {
  margin: 100px 0px 0px 60px;
}

.search-heading {
  font-family: 'La Belle Aurore';
  font-size: 50px;
}

.search-arrow {
  position: relative;
  top: -20px;
  left: -10px;
  font-family: 'Homemade Apple';
  font-size: 80px;
  display: inline;
}

.search-box {
  position: relative;
  top: -30px;
  display: inline;
  background: none;
  border: none;
  font-family: 'La Belle Aurore';
  color: red;
  opacity: .4;
  font-size: 35px;
  width: 480px;
  height: 55px;
}

.search-box::-webkit-input-placeholder {
    color: red;
}
.search-box:-moz-placeholder {
    /* FF 4-18 */
    color: red;
}
.search-box::-moz-placeholder {
    /* FF 19+ */
    color: red;
}
.search-box:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
}

.search-box:focus {
  outline: none !important;
}